{
    "addresses": [
        {
            "type": "ipv4",
            "address": "127.0.0.1:2007"
        }
    ],
    "interface": {
        "host": "127.0.0.1",
        "port": 2008
    },
    "database_config": "sqlite3:///vtcpd_storage",
    "database_config_postgresql_example": "postgresql://username:password@host:5432/database_name",
    "database_config_postgresql_without_db": "postgresql://username:password@host:5432/",
    "observers": [
        {
            "type": "ipv4",
            "address": "127.0.0.1:2009"
        }
    ],
    "gateway": [1, 2, 3],
    "equivalents_registry_address": "127.0.0.1:2010",
    "providers": {
        "address_updating_period_sec": 600,
        "cached_addresses_ttl_sec": 300,
        "providers": [
            {
                "name": "Provider1",
                "key": "provider_key_1",
                "participant_id": 1,
                "addresses": [
                    {
                        "type": "ipv4",
                        "address": "127.0.0.1:2011"
                    }
                ]
            }
        ]
    },
    "event_files": {
        "events": [
            {
                "type": "payment_received",
                "file_path": "/tmp/payment_received.txt"
            },
            {
                "type": "payment_sent",
                "file_path": "/tmp/payment_sent.txt"
            }
        ]
    },
    "cycles_clearing": {
        "cycles_clearing_period_sec": 600,
        "cycles_clearing_enabled": true
    },
    "max_hops_count": 5
}
  